<%
NEWS = [{
  year:'2018',
  month:'JANUARY',
  day:'15',
  title:'SPEC 新メンバー参加のお知らせ',
  text:`
      <p>SPECのWebサイトをご覧頂き、誠にありがとうございます。<br>
      1月よりSPECに新たなクリエイターが参加することになりました。<p>
      <p  class="boldText">Production designer　我妻 弘之</p>
      <a href="http://spec-management.jp/portfolio/wagatsuma/" target="_blank">http://spec-management.jp/portfolio/wagatsuma/</a>
      <p>皆様とご一緒できる事を楽しみにしております。<br>
      今後ともよろしくお願いいたします。</p>
       `
},{
  year:'2017',
  month:'SEPTEMBER',
  day:'01',
  title:'SPEC 新メンバー参加のお知らせ',
  text:`
  <p>SPECのWebサイトをご覧頂き、誠にありがとうございます。<br>
  9月1日よりSPECに新たなクリエイターが参加することになりました。<p>
  <p class="boldText">Composer/Arranger　平井 和音</p>
  <a href="http://spec-management.jp/portfolio/hirai/" target="_blank">http://spec-management.jp/portfolio/hirai/</a>
  <p>皆様とご一緒できる事を楽しみにしております。<br>
  今後ともよろしくお願いいたします。</p>
       `
},{
  year:'2017',
  month:'AUGUST',
  day:'01',
  title:'SPEC 新メンバー参加のお知らせ',
  text:`
  <p>SPECのWebサイトをご覧頂き、誠にありがとうございます。<br>
  8月3日よりSPECに新たなクリエイターが参加することになりました。<p>
  <p  class="boldText">Cinematographer　河西 宏一</p>
  <a href="http://spec-management.jp/portfolio/kawanishi/" target="_blank">http://spec-management.jp/portfolio/kawanishi/</a>
  <p>皆様とご一緒できる事を楽しみにしております。<br>
  今後ともよろしくお願いいたします。</p>
       `
},{
  year:'2015',
  month:'NOVEMBER',
  day:'26',
  title:'SPEC HP更新のお知らせ',
  text:`
  <p>SPECのWebサイトをご覧頂き、誠にありがとうございます。<br>
  SPECに新たなクリエイターが参加することになりました。<p>
  <p  class="boldText">奥山英男</p>
  <a href="http://spec-management.jp/portfolio/okuyama/" target="_blank">http://spec-management.jp/portfolio/okuyama/</a>
  <p>さらに、ご要望の高かったクリエイターのShowReelが見れる仕様を制作しました。 各クリエイターページよりアクセスできますので、 興味お持ちいただけましたら是非ご覧ください。<br>
  よろしくお願いします。</p>
       `
},]

%>
