$color-base: #FFFFFF;
$color-text: #3f3a39;
$color-main: #c40010;


$color-red: #e50113;
$color-orange: #f3a238;
$color-green: #28d776;
$color-white: #FFFFFF;
$color-black: #3f3a39;
$color-gray: #8f8589;

$shadow-black:0 0 30px 0px rgba(59, 47, 47, 0.18);
$shadow-green: 0 0 40px 3px #d0f7e5;
$shadow-red: 0 0 30px 0px rgba(251, 188, 188, 0.7);
$shadow-blue: 5px 5px 30px 0px rgba(208, 227, 247, 0.7);
