.delay1{
  transition-delay: 0.03s
}
.delay2{
  transition-delay: 0.06s
}
.delay3{
  transition-delay: 0.09s
}
.delay4{
  transition-delay: 0.12s
}
.delay5{
  transition-delay: 0.15s
}
.delay6{
  transition-delay: 0.18s
}
.delay7{
  transition-delay: 0.21s
}
.delay8{
  transition-delay: 0.24s
}
.delay9{
  transition-delay: 0.27s
}
.delay10{
  transition-delay: 0.3s
}
