<div class="p-top-mv">
  <div class="p-top-mv__bg" style="background-image:url('<%- imagePath %>index/mv-back.png')"></div>
  <div class="p-top-mv__inner">
    <%- include('../svg/_svg-text-mv.svg') %>
    <p>自分の手でアイディアをカタチにし、<br>社会に出すまでを最速で実現する</p>
    <!-- <p>モノづくりから社会への接続までを<br>最速で身に着ける</p> -->
  </div>

  <div class="p-top-mv__news">
    <div class="p-top-mv__news__inner">
      <div class="p-top-mv__news__slider">
        <div class="p-top-mv__news__slider__item">
          <a href="https://prtimes.jp/main/html/rd/p/000000005.000020328.html" target="_blank">
            <p class="p-top-mv__news__slider__item__date">2019.04.04</p>
            <p class="p-top-mv__news__slider__item__title">PR TIMESでプレスリリースを発表しました。</p>
          </a>
        </div>
        
        <div class="p-top-mv__news__slider__item">
          <a href="https://note.mu/n0bisuke/n/n214f041ee558" target="_blank">
            <p class="p-top-mv__news__slider__item__date">2019.04.09</p>
            <p class="p-top-mv__news__slider__item__title">noteにプロトアウトスタジオについての記事をリリースしました。</p>
          </a>
        </div>

        <div class="p-top-mv__news__slider__item">
          <a href="https://edge.tsumug.com/entry/interview-protooutstudio" target="_blank">
            <p class="p-top-mv__news__slider__item__date">2019.04.12</p>
            <p class="p-top-mv__news__slider__item__title">tsumug edgeにてのびすけと伴野のインタビューを掲載して頂きました。</p>
          </a>
        </div>
       
      </div>
      <div class="p-top-mv__news__arrow">
        <span class="p-top-mv__news__arrow__up"></span>
        <span class="p-top-mv__news__arrow__down"></span>
      </div>
    </div>
  </div>
  <span class="p-top-mv__backItem1 backItem" style="background-image:url('<%- imagePath %>index/backItem1.png')"></span>

  <span class="p-top-mv__backItem2 backItem" style="background-image:url('<%- imagePath %>index/backItem2.png')"></span>
</div>
