<div class="p-top-mv">
  <div class="p-top-mv__bg" style="background-image:url('<%- imagePath %>index/mv-back.png')"></div>
  <div class="p-top-mv__inner">
    <%- include('../svg/_svg-text-mv.svg') %>
    <p>モノづくりから社会への接続までを<br>最速で身に着ける</p>
  </div>

  <div class="p-top-mv__news">
    <div class="p-top-mv__news__inner">
      <div class="p-top-mv__news__slider">
        <div class="p-top-mv__news__slider__item">
          <a href="https://prtimes.jp/draft/d1fe39dbf275d2c47777c861ef7" target="_blank">
            <p class="p-top-mv__news__slider__item__date">2019.04.04</p>
            <p class="p-top-mv__news__slider__item__title">PR TIMESで当スクールのプレスリリースを発表しました。</p>
          </a>
        </div>
        <!--
        <div class="p-top-mv__news__slider__item">
          <a href="" target="_blank">
            <p class="p-top-mv__news__slider__item__date">2019.04.08</p>
            <p class="p-top-mv__news__slider__item__title">5月開講スケジュールを公開いたしました。5月開講スケジュールを公開いたしました。</p>
          </a>
        </div>
        <div class="p-top-mv__news__slider__item">
          <a href="" target="_blank">
            <p class="p-top-mv__news__slider__item__date">2019.04.09</p>
            <p class="p-top-mv__news__slider__item__title">テキスト</p>
          </a>
        </div>
        -->
      </div>
      <div class="p-top-mv__news__arrow">
        <span class="p-top-mv__news__arrow__up"></span>
        <span class="p-top-mv__news__arrow__down"></span>
      </div>
    </div>
  </div>
  <span class="p-top-mv__backItem1 backItem" style="background-image:url('<%- imagePath %>/index/backItem1.png')"></span>

  <span class="p-top-mv__backItem2 backItem" style="background-image:url('<%- imagePath %>/index/backItem2.png')"></span>
</div>
