<section class="p-top-remarks">
  <div class="p-top-remarks__inner">
    <div class="p-top-remarks__left">
      <div class="p-top-remarks__box">
        <h3>スクール概要 - 第1期</h3>
        <p class="title">開催場所</p>
        <p class="text">
          〒101-0021<br class="pc">
          東京都千代田区 外神田 5-2-7 <br class="pc">外神田下村ビル4階 <br class="pc">
          開発者・クリエイターのための近未来体験スペース「Granica」
        </p>
        <a href="https://www.google.com/maps/place/granica/@35.7043808,139.7702703,17z/data=!3m1!4b1!4m5!3m4!1s0x60188df63ab5c4f3:0x4875fe5970eda46!8m2!3d35.7043808!4d139.772459" target="_blank">Google mapで見る</a>
        <p class="title">定員</p>
        <p class="text">20〜40人（別途入学試験を行います）</p>

        <p class="title">講座</p>
        <p class="text">
          毎週土曜日 13時～18時 対面式授業<br class="pc">
          受講期間：3ヶ月〜6ヶ月(入門・基礎・応用)<br class="pc">
          メンタリング期間：2〜3ヶ月
        </p>

      </div>
      <div class="p-top-remarks__box">
        <h3>受講料金</h3>
        <p class="title">入学金 : 50,000円（税別）</p>
        <p class="text">
          入学時にご入金いただきます。いかなる理由があっても返金することができません。ご容赦ください。
        </p>
        <p class="title">授業料 : 350,000円（税別）</p>
        <p class="text">
          授業料は<b>後払い式</b>です。
          5回目までの授業を受けた上で継続するかどうかを判断して、6回目の授業の際にご入金ください。
        </p>

      </div>
    </div>
    <div class="p-top-remarks__center">
      <div class="p-top-remarks__box">
        <h3>運用体制</h3>
        <a href="https://dotstud.io/" target="_blank" class="title">運営 : dotstudio株式会社</a>
        <div class="member">
          <p class="tag">
            <span>校長</span>
          </p>
          <p class="name">菅原のびすけ</p>
          <p class="text">国内最大級のIoTコミュニティIoTLTの主催者。IoT・モノづくり領域での研修を始めとした教育事業に携わっている。</p>
        </div>
        <div class="member">
          <p class="tag">
            <span>事務局長</span>
          </p>
          <p class="name">伴野智樹</p>
          <p class="text">一般社団法人MA理事として日本最大級の開発コンテストMashupAwardsの運営に携わっている。オープンイノベーションアドバイザー。</p>
        </div>
        <div class="member">
          <p class="tag">
            <span>講師長</span>
          </p>
          <p class="name">田中正吾</p>
          <p class="text">国内で数少ないMicrosoft MVPとIBM Championのダブル取得のエンジニア。</p>
        </div>
      </div>
    </div>
    <div class="p-top-remarks__right">
      <div class="p-top-remarks__box">
        <h3>入学に際して</h3>
        <ul>
          <li>授業レベルとしては、エンジニアスクールに通ったことがあるか、または同等のプログラミング経験がある方を想定したものとなっています。</li>
          <li><b>プログラミング完全未経験の方も歓迎します。</b>ただし、Progateなどで事前学習をしてもらった上で、簡単な試験を行い入学の可否を判断します。</li>
          <li>現在エンジニアの方や、既にプロダクトを作ったことがある人は面談をした上で、一定額免除する可能性があります。</li>
        </ul>
      </div>
    </div>
  </div>
</section>
