<section class="p-top-about">
  <%- include('../component/_c-sectionTitle',{data:{
  title:'ProtoOut Studioとは',
  desc:'ABOUT',
  },
}) %>
  <div class="p-top-about__bg" style="background-image:url('<%- imagePath %>index/about-back.png')"></div>
  <p>ProtoOut Studioは、プログラミングとプランニング（企画）の両方を兼ね備えたプロトタイピング（試作開発）スキルの習得に特化した日本初のプロトタイピング専門スクールです。</p>
  <p>プログラミングスキルと、アイディアをカタチにする力は似てるようで異なります。従来のプログラミング学習の考えを一歩進めた領域に踏み出し、アウトプットを生み出していきましょう。</p>
</section>
