<section class="p-top-company">
  <h2 class="p-top-company__top">パートナー企業・団体</h2>
  <div class="p-top-company__body">
    <div data-lax-anchor="self" data-lax-opacity="(vh*.75) 1, (vh*.95) 0" data-lax-rotate="(vh*.75) 0, (vh*.95) 20" class="lax p-top-company__body__item"> <span style="background-image:url('<%- imagePath %>index/iotlt.png')"></span></div> <!-- https://iotlt.connpass.com -->
    <div data-lax-anchor="self" data-lax-opacity="(vh*.70) 1, (vh*.90) 0" data-lax-rotate="(vh*.70) 0, (vh*.90) 20" class="lax p-top-company__body__item"> <span style="background-image:url('<%- imagePath %>index/mashup-awards.jpg')"></span></div> <!-- https://we-are-ma.jp -->
    <div data-lax-anchor="self" data-lax-opacity="(vh*.65) 1, (vh*.85) 0" data-lax-rotate="(vh*.65) 0, (vh*.85) 20" class="lax p-top-company__body__item"> <span style="background-image:url('<%- imagePath %>index/gsacademy.png')"></span></div> <!-- https://gsacademy.tokyo -->
    <div data-lax-anchor="self" data-lax-opacity="(vh*.60) 1, (vh*.80) 0" data-lax-rotate="(vh*.60) 0, (vh*.80) 20" class="lax p-top-company__body__item"> <span style="background-image:url('<%- imagePath %>index/granica.png')"></span></div> <!-- https://granica.io -->
    <!-- <div data-lax-anchor="self" data-lax-opacity="(vh*.6) 1, (vh*.8) 0" data-lax-rotate="(vh*.6) 0, (vh*.8) 20" class="is-comming lax p-top-company__body__item"> <span>
        <p>comming soon</p>
      </span></div> -->
  </div>

</section>
