<section class="p-top-company">
  <h2 class="p-top-company__top">提携企業</h2>
  <div class="p-top-company__body">
    <div data-lax-anchor="self" data-lax-opacity="(vh*.69) 1, (vh*.89) 0" data-lax-rotate="(vh*.69) 0, (vh*.89) 35" class="lax p-top-company__body__item"> <span style="background-image:url('<%- imagePath %>index/cpmpany')"><p>comming soon</p></span></div>
    <div data-lax-anchor="self" data-lax-opacity="(vh*.66) 1, (vh*.86) 0" data-lax-rotate="(vh*.66) 0, (vh*.86) 35" class="lax p-top-company__body__item"> <span style="background-image:url('<%- imagePath %>index/cpmpany')"><p>comming soon</p></span></div>
    <div data-lax-anchor="self" data-lax-opacity="(vh*.63) 1, (vh*.83) 0" data-lax-rotate="(vh*.63) 0, (vh*.83) 35" class="lax p-top-company__body__item"> <span style="background-image:url('<%- imagePath %>index/cpmpany')"><p>comming soon</p></span></div>
    <div data-lax-anchor="self" data-lax-opacity="(vh*.6) 1, (vh*.8) 0" data-lax-rotate="(vh*.6) 0, (vh*.8) 35" class="lax p-top-company__body__item"> <span style="background-image:url('<%- imagePath %>index/cpmpany')"><p>comming soon</p></span></div>

  </div>

</section>
