<section class="p-top-remarks">
  <div class="p-top-remarks__inner">
    <div class="p-top-remarks__left">
      <div class="p-top-remarks__box">
        <h3>スクール概要</h3>
        <p class="title">開催場所</p>
        <p class="text">
          〒101-0021<br class="pc">
          東京都千代田区９ 外神田2-9-3 <br class="pc">ユニオンビル工新
        </p>
        <a href="https://www.google.com/search?q=%E3%83%89%E3%83%83%E3%83%88%E3%82%B9%E3%82%BF%E3%82%B8%E3%82%AA&npsic=0&rflfq=1&rlha=0&rllag=35684193,139740665,3160&tbm=lcl&ved=2ahUKEwju3Kzd5LDhAhViG6YKHWhmA6MQtgN6BAgKEAQ&tbs=lrf:!2m1!1e2!2m1!1e3!3sIAE,lf:1,lf_ui:2&rldoc=1#rlfi=hd:;si:3019442055895158051;mv:!1m2!1d35.7496696!2d139.7787019!2m2!1d35.6157138!2d139.59314039999998" target="_blank">Google mapで見る</a>
        <p class="title">定員</p>
        <p class="text">40〜50人</p>
      </div>
      <div class="p-top-remarks__box">
        <h3>受講料金</h3>
        <p class="title">入学金 : 50,000円（税別）</p>
        <p class="text">
          入学時にご入金いただきます。いかなる理由があっても返金することができません。ご容赦ください。
        </p>
        <p class="title">授業料 : 250,000円（税別）</p>
        <p class="text">
          5回目までの授業を受けた上で継続するかどうかを判断して、6回目の授業の際にご入金ください。
        </p>
      </div>
    </div>
    <div class="p-top-remarks__center">
      <div class="p-top-remarks__box">
        <h3>運用体制</h3>
        <a href="https://dotstud.io/" target="_blank" class="title">運営 : dotstudio株式会社</a>
        <div class="member">
          <p class="tag">
            <span>事務局長</span>
          </p>
          <p class="name">伴野智樹</p>
          <p class="text">国内最大の開発コンテストMashup <br class="pc">Awardsの事務局長</p>
        </div>
        <div class="member">
          <p class="tag">
            <span>学部長</span>
          </p>
          <p class="name">田中セイゴ</p>
          <p class="text">Microsoft MVP, IBM Champion</p>
        </div>
        <div class="member">
          <p class="tag">
            <span>プロデューサー</span>
          </p>
          <p class="name">菅原のびすけ</p>
          <p class="text">LINE API Expert, 国内最大IoTコミュニティ IoTLT主催者  ,dotstudio代表取締役</p>
        </div>
      </div>
    </div>
    <div class="p-top-remarks__right">
      <div class="p-top-remarks__box">
        <h3>入学に祭して</h3>
        <ul>
          <li>基本的にはエンジニアスクールに通ったことがある人が対象です。</li>
          <li>プログラミングなどが完全未経験者の方はProgateなどで事前学習をしてもらった上で簡単な試験を行います。</li>
          <li>現在エンジニアの方や、既にプロダクトを作ったことがある人は面談をした上で、一定額免除する可能性があります。</li>
        </ul>
      </div>
    </div>
  </div>
</section>
