<section class="p-top-about">
  <%- include('../component/_c-sectionTitle',{data:{
  title:'ProtoOut Studioとは',
  desc:'ABOUT',
  },
}) %>
  <div class="p-top-about__bg" style="background-image:url('<%- imagePath %>index/about-back.png')"></div>
  <p>技術の普及スピードが早まり、機械学習やIoT技術の活用が一般化する現代、プログラミングとプランニング（企画）の境界線が曖昧になってきています。具体的には、企画初期から様々な技術を評価・模索し、プロダクト・マーケット・フィットを検証しながら開発を進めていく人材が求められています。そのためには「創造すること」がより重要となり、コーディング（プログラミング）そのものの能力よりも「プロトタイピングスキル」が一層重要になります。</p>
  <p>ProtoOut Studioは、企業が求めているスキルセットを厳選し、今までになかったAPIに特化したカリキュラムを展開しました。未経験から半年という速度でプロトタイピング能力を身につけ、制作物を売り切るまでを徹底的にサポートいたします。</p>
</section>
