<section class="p-top-about">
  <%- include('../component/_c-sectionTitle',{data:{
  title:'ProtoOut Studioとは',
  desc:'ABOUT',
  },
}) %>
  <div class="p-top-about__bg" style="background-image:url('<%- imagePath %>index/about-back.png')"></div>
  <p>ProtoOut Studioは、プログラミングとプランニング（企画）の両方のスキルを兼ね備えた人材輩出を行う日本初のプロトタイピング専門スクールです。</p>
  <p><b>プログラミングスキルと、アイディアをカタチにする力は似てるようで異なります。</b>従来のプログラミング学習の考えを一歩進めた領域に踏み出し、アウトプットを生み出していきましょう。</p>
</section>
