<section class="p-top-contact">
  <div class="p-top-contact__inner">
    <p>スクールへのお申し込み手続きは、下のボタンより遷移先のフォームにてお願いいたします。</p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSe-vYcRSO54RIjKl5B5_Fb27hgbhgpiIIrOR7LTFGLt-Oh38w/viewform" target="_blank" class="c-button is-full">
      <span>お申し込みフォームへ</span>
    </a>
  </div>
</section>
