$root:'.p-top-member';

#{$root} {
  position: relative;
  @include sectionWidth;
  margin: 286px auto 0;
  padding-bottom: 150px;

  @media screen and (max-width: $breakpointMedium) {
    margin: 0px 0px 0;
    width: 100%;
    padding: 0 20px 70px;
  }

  >p {
    @include text14px;
    font-weight: 400;
    margin-top: -3px;
    margin-left: -1px;
    letter-spacing: 0.12em;
    line-height: 35px;

    @media screen and (max-width: $breakpointMedium) {
      font-size: 12px;
    }
  }

  &__body {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
